{% extends 'base.html.twig' %}

{% block title %}Login!{% endblock %}

{% block body %}              
        <a href="{{ path('app_authentication') }}" class="btn btn-google">
    Login with Google
</a>
{% endblock %}
